/* #status{
  border:1px solid rgb(211,211,211);


}
#gender{
  border:1px solid rgb(211,211,211);
} */
.has-error{
  border: 1px solid red;
}
.has-noerror{
border: 1px solid green;
}
.has-errortag{
  color:red;
}
